
#scroll-filter-area {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    z-index: 1;
}

/* dropdown */
#filter-selector-1, #filter-selector-2 {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(50, 39, 37, 0.8) 0%, rgba(137, 136, 135, 0.8) 48.96%, rgba(29, 27, 63, 0.8) 100%);
    background: rgb(30,30,30);
    padding: 0px;
    width: 86%;
    min-width: 10%;
    position: fixed;
}

.dropdown-btn {
    color: #d0cfd1;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: var(--dropdown-font-size);
    text-align: left;

    padding-left: 20px;
    margin-left: 10px;
    display: inline-block !important;
    width:100%;

    background: rgba(41, 41, 41, 0.37);
    border-style: none;
}

.dropdown-filter-option{
    border-color: rgba(200,200,200, 0.3);
    border-style: none;
    border-bottom-style: solid;
    width:100%;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-size: var(--dropdown-font-size);
    background: rgba(0,0,0,0);
    padding: 10px 0;
}

.dropup{
    min-width: 100vw;
}

.dropdown-arrow-img {
    display: inline-block;
    position: absolute;
    width: 2.5vh;
    min-width: 15px;
    max-width: 22px;
    height: 2.5vh;
    min-height: 15px;
    max-height: 22px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background: url('../images/white-arrow-icon-right.png');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

/* scroll */

#scroll-filter-area .row {
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.scroll-filter-row {
    position: relative;
    height: 5vh;
    min-height: 35px;
    max-height: 45px;
}

.scroll-filter-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.scroll-filter-body {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.shuffle-btn {
    display: none !important;
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: rgba(41, 41, 41, 0.37);
}
.shuffle-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.shuffle-btn-img {
    position: absolute;
    height: 5vh;
    min-height: 30px;
    max-height: 50px;
    width: 5vh;
    min-width: 30px;
    max-width: 50px;
    background-image: url('../images/shuffle.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scroll-filter-item, .scroll-filter-item-selected {
    color: #d0cfd1;
    font-family: 'Oswald';
    font-style: normal;
    /* font-size: x-large; */
    font-size: var(--filter-item-font-size);
    text-align: center;
    padding-top: 0.5vh;
}
.scroll-filter-item {
    background-color: rgba(0, 0, 0, 0);
}
.scroll-filter-item-selected {
    background-image:linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
}

#scroll-filter-1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#scroll-filter-2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* scroll left and right buttons */
.scroll-btn {
    padding: 0px;
}
.scroll-btn-img-left {
    background: url('../images/white-arrow-icon-left.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.scroll-btn-img-right {
    background: url('../images/white-arrow-icon-right.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.scroll-btn-img-right, .scroll-btn-img-left {
    height: 3.5vh;
    min-height: 23px;
    max-height: 30px;
    width: 3vh;
    min-width: 20px;
    max-width: 27px;
    margin: auto;
    margin-top: -3px;
}

/* style the center */
.scroll-btn, .scroll-filter-container {
    /* display: none !important; */
    background: rgba(41, 41, 41, 0.37) !important;
    border-style: none;
}

/* TODO cleanup */
#scroll-filter-go-right-btn-1, #scroll-filter-go-right-btn-2, .scroll-filter-container {
    border-style: none;
}

#scroll-filter-go-left-btn-1, #scroll-filter-go-left-btn-2, .scroll-filter-container {
    border-style: none;
}


/* hover */
.dropdown-btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.scroll-btn:hover {
    background-color: rgba(255, 255, 255, 0.12) !important;
}
.scroll-filter-item-selected:hover {
    cursor: context-menu; /* avoid type cursor */
}
.scroll-filter-item:hover {
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}
.dropdown-filter-option:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

/* custom columns */
.col-7 {
    flex: 0 0 var(--filters-width-1);
    max-width: var(--filters-width-1);
}
.col-2 {
    flex: 0 0 var(--dropdown-width-1);
    max-width: var(--dropdown-width-1);
}