.font-bold{
    font-weight:bold;
}

.hm-font-light{
    color:white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: lighter;
}


.hm-font {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
}

.hm-font-xlarge {
    color: white;
    font-family: 'Oswald';
    font-size: x-large;
    font-style: normal;
}


.hm-font-xxlarge {
    color: white;
    font-family: 'Oswald';
    font-size: xx-large;
    font-style: normal;
}

.hm-font-large {
    color: white;
    font-family: 'Oswald';
    font-size: large;
    font-style: normal;
}