#subsetview-match-title{
    position: fixed;
    font-family: 'Oswald';
    color:white;
    top:15%;
    left:50%;
    transform: translate(-50%,0%);
}
#subsetview-filter-title{
    position: fixed;
    font-family: 'Oswald';
    color:white;
    top:0%;
    left:50%;
    transform: translate(-50%,0%);
}


#sub-short-bio{
    position: fixed;
    width: 30%;
    font-family: 'Oswald';
    color:white;
    bottom:40%;
    right: 0px;
}

#sub-side-info-area{
    position: fixed;
    top: 200px;
    width: 20%;
    right: 5%;
}

#sub-fav-info-header{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sub-achivement-info-header{
    margin-bottom: 10px;
}

#sub-go-to-archive-btn{
    position: fixed;
    width: 200px;
    height:50px;
    right: 15%;
    bottom: 20%;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    border: 3px solid;
    border-image-source: linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
    border-image-slice: 1;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
}

#sub-go-to-archive-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}