/* TODO move to another file */
.btn-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

/* override bootstrap button */
.btn, button {
    border-radius: 0px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}
button:focus {
    outline-style: none;
}

/* help button */
#help-btn {
    display: block;
    position: fixed;
    top: var(--help-icon-y);
    left: var(--help-icon-left);
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}
#help-btn:hover {
    opacity: 0.7;
}
#help-btn-img {
    height: var(--help-icon-size);
    min-height: var(--help-icon-size-min);
    max-height: var(--help-icon-size-max);
    width: var(--help-icon-size);
    min-width: var(--help-icon-size-min);
    max-width: var(--help-icon-size-max);
    padding: 0%;
}

/* help overlay */
#close-help-overlay-btn {
    display: block;
    position: fixed;
    top: var(--help-back-btn-y);
}
#close-help-overlay-btn-img {
    width: var(--close-icon-size);
    height: var(--close-icon-size);
    background: var(--close-icon-url);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#help-overlay {
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    pointer-events: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#region-map-container, #ring-example-container {
    display: block;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: var(--match-num-font-size);
}
#region-map-container {
    top: 0%;
    height: var(--map-cont-height);
    width: 100vw;
}
#ring-example-container {
    top: var(--map-cont-height);
    height: calc(100 - var(--map-cont-height));
    width: 100vw;
}
#region-map, #ring-example {
    position: absolute;
    display: block;
    margin: 0px;
    left: 50%;
    max-height: 75%;
    object-fit: contain;
}
#region-map {
    top: var(--map-y);
    width: 80%;
    transform: translate(-50%, 0%);
}
#ring-example {
    max-width: 70%;
    display: none;
}
#region-explanation, #ring-explanation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    vertical-align: middle;
}
#region-explanation {
    top: 15%;
    width: 75%;
}
#ring-explanation {
    top: 0%;
    text-align: left;
}

/* used for overview and subset view */
/* placeholder */
.home-btn {
    position: fixed;
    top:20%;
    width: 20vw;
    min-width: 100px;
    max-width: 300px;
    top: 6%;
    left: 50%;
    transform: translateX(-50%); 
}
.home-btn:hover, .home-btn-selected {
    background: var(--gradient-color)
}

.title-area {
    position: fixed;
    font-family: 'Oswald';
    font-weight: bold;
    display: inline-block;
    left: var(--main-content-position-left);
    top: var(--filter-title-y);
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
}
.filter-title {
    position: relative;
    font-size: var(--match-num-font-size);
    color: var(--filter-title-color);
}
.match-title {
    position: relative;
    font-size: var(--match-num-font-size);
    color: var(--off-white);
}

/* viz control */
#viz-control-area {
    position: fixed;
    text-align: center;
    width: var(--viz-ctrl-area-width);
    bottom: var(--viz-ctrl-area-y);
    right: var(--viz-ctrl-area-x);
}
#viz-header {
    font-weight: bold;
    font-size: var(--match-num-font-size);
}
.viz-btn {
    width: var(--viz-btn-width);
    min-width: 190px;
    max-width: 600px;
    height: 5vh;
    min-height: 40px;
    max-height: 110px;
    margin-top: 1.5vh;
    background-color: var(--btn-bkgd-color);
    font-weight: bold;
    font-size: var(--button-font-size);
    color: var(--off-white);
    border-radius: 2px;
}
.viz-btn:hover, .viz-btn-selected {
    background: var(--gradient-color);
    border: 2px solid var(--off-white);
}

/* back buttons */
.back-btn{
    display: inline-block;
    position: fixed;
    top: var(--back-btn-y);
    left: var(--back-btn-x);
    vertical-align: middle;
    color: var(--off-white);
    font-family: 'Oswald';
    font-size: var(--button-font-size);
    min-width: calc(var(--back-icon-size) + 2%);
    height: calc(var(--back-icon-size) + 2%);
}
.back-btn:hover {
    background-color: var(--hover-bkgd-color);
}
button.back-btn{
    overflow: unset;
}
.back-arrow-img {
    display: inline-block;
    width: var(--back-icon-size);
    height: var(--back-icon-size);
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    padding: 0%;
}
.back-btn-text {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    left: var(--back-icon-size);
    /* right: 10%; */
}