
#scroll-filter-area {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    /* z-index: 1; */
}

/* dropdown */
.dropdown-btn {
    color: #d0cfd1;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: var(--dropdown-font-size);
    text-align: left;

    padding-left: 20px;
    margin-left: 10px;
    display: inline-block !important;
    width:100%;

    background: var(--item-bkgd-color);
    border-style: none;
}
/* .dropup{
    min-width: 100vw;
} */
.dropdown-arrow-img {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: var(--dropdown-arrow-size);
    min-width: var(--dropdown-arrow-size-min);
    max-width: var(--dropdown-arrow-size-max);
    height: var(--dropdown-arrow-size);
    min-height: var(--dropdown-arrow-size-min);
    max-height: var(--dropdown-arrow-size-max);
    right: 30px;
    transform: translateY(-50%);
    background: var(--down-arrow-icon-url);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#filter-selector-1, #filter-selector-2 {
    border-radius: 0px;
    border-style: none;
    background: var(--item-bkgd-color);
    padding: 0px;
    margin: 0px;
    width: calc(100% - 40px);
    min-width: 10%;
    position: fixed;
    text-align: left;
}

.dropdown-filter-option{
    border-style: none;
    width: 100%;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-size: var(--dropdown-font-size);
    padding: 10px 20px;
    text-align: left;
}

/* scroll */

#scroll-filter-area .row {
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.scroll-filter-row {
    position: relative;
    height: 5vh;
    min-height: 35px;
    max-height: 45px;
}

.scroll-filter-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: var(--item-bkgd-color);
}

.scroll-filter-body {
    position: absolute;
    height: 100%;
}

.scroll-filter-item, .scroll-filter-item-selected {
    color: var(--off-white);
    font-family: 'Oswald';
    font-style: normal;
    font-size: var(--filter-item-font-size);
    text-align: center;
    padding-top: var(--filter-item-padding-y);
}

.scroll-filter-item-selected {
    background-image:linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
}

#scroll-filter-1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#scroll-filter-2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* scroll left and right buttons */
.scroll-btn {
    padding: 0px;
    background-color: var(--item-bkgd-color);
}
.scroll-btn-img-left {
    background: var(--left-arrow-icon-url);
    background-size: 100%;
    background-repeat: no-repeat;
}

.scroll-btn-img-right {
    background: var(--right-arrow-icon-url);
    background-size: 100%;
    background-repeat: no-repeat;
}
.scroll-btn-img-right, .scroll-btn-img-left {
    /* height: 3.5vh;
    min-height: 23px;
    max-height: 30px;
    width: 3vh;
    min-width: 20px;
    max-width: 27px; */
    height: var(--scroll-arrow-size);
    min-height: var(--scroll-arrow-size-min);
    max-height: var(--scroll-arrow-size-max);
    width: var(--scroll-arrow-size);
    min-width: var(--scroll-arrow-size-min);
    max-width: var(--scroll-arrow-size-max);
    margin: auto;
    margin-top: -3px;
}

/* hover */
.dropdown-btn:hover {
    background-color: var(--hover-bkgd-color);
}
.scroll-btn:hover {
    background-color: var(--hover-bkgd-color) !important;
}
.scroll-filter-item-selected:hover {
    cursor: context-menu; /* avoid type cursor */
}
.scroll-filter-item:hover {
    background-color: var(--hover-bkgd-color);
    cursor: pointer;
}
.dropdown-filter-option:hover {
    background-color: var(--hover-bkgd-color);
}

/* custom columns */
.col-7 {
    flex: 0 0 var(--filters-width-1);
    max-width: var(--filters-width-1);
}
.col-2 {
    flex: 0 0 var(--dropdown-width-1);
    max-width: var(--dropdown-width-1);
}

/* shuffle */
.shuffle-btn {
    display: none !important;
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: var(--item-bkgd-color)
}
.shuffle-btn:hover {
    background-color: var(--hover-bkgd-color);
}

.shuffle-btn-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--shuffle-icon-size);
    min-height: var(--shuffle-icon-size-min);
    max-height: var(--shuffle-icon-size-max);
    width: var(--shuffle-icon-size);
    min-width: var(--shuffle-icon-size-min);
    max-width: var(--shuffle-icon-size-max);
    background-image: var(--shuffle-icon-url);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}