
/* pseudo mobile */
@media screen and (max-width: 880px) {
    #scroll-filter-row {
        height: 10vh;
    }
    #scroll-filter-container {
        transform: translateY(-50%);
    }
    .col-7 {
        flex: 0 0 150%;
        max-width: 150%;
        transform: translateX(-75%)
    }
    .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
        transform: translateY(-120%);
    }
    #scroll-filter-1 {
        transform: translate(-50%, -100%);
    }
    .dropdown-btn {
        text-align: center;
        padding-left: unset;
        margin-left: unset;
    }
    #filter-selector-1, #filter-selector-2 {
        left: unset !important;
        width: 90%;
    }
    #match-number {
        bottom: calc( (5*5vh) + (3*1.25em));
    }
    #ring-control-area {
        bottom: calc(6 * (5vh + 1.25em));
    }
    #scene-canvas.detailview {
        transform: scale(0.8) translateY(-3%);
    }
    #scene-canvas.overview {
        transform: scale(0.6);
    }
    .back-btn {
        transform: scale(0.7);
    }
    .title-area {
        top: 14%;
    }
    #go-to-archive-btn {
        left: 50vw;
        transform: translateX(-50%);
        bottom: calc( (4*5vh) + (3*1.25em));
    }
    #sub-achivement-info-area {
        display: none;
    }
    #sub-side-info-area {
        height: 10vh;
        right: 50vw;
        top: 75vh;
        width: 100vw;
        transform: translateX(50%);
        text-align: center;
    }
}
/* Small screens, Symmetrical layout --> asymmetrical */
/* 800px */
@media screen and (min-width: 55.0em) {
    #hm-logo {
        left: 1.5%;
        transform: none;
    }
    #scene-canvas.detailview {
        left: -18%;
    }
    #match-number {
        width: 50vw;
        left: 31%;
    }
    #ring-control-area {
        left: 31%;
    }
    #scene-canvas.overview {
        left: -10%;
        top: 5%;
    }
    .title-area {
        width: 50%;
        left: 40%;
        top: 13%;
    }
    
    /* Scroll filters */
    .scroll-btn, .scroll-filter-container {
        display: block !important;
    }
    .shuffle-btn {
        display: block !important;
    }
    .dropup{
        min-width: unset;
    }

    /* tabs */
    #tab-area-container {
        right: 5%;
        transform: unset;
        width: 30vw;
    }

    /* Overlay UI */
    #side-info-area {
        /* display: block; */
        top: 50vh;
        height: 60vh;
        transform: translateY(-50%);
    }
    #achivement-info-area, #fav-info-area {
        display:block;
    }

    /* Overview UI */
    #viz-control-area {
        width: 20%;
        right: 5%;
    }
    .back-btn {
        transform: scale(0.8);
    }

    /* Subset UI */
    #sub-side-info-area {
        display: block;
    }
}

/* medium screen */
@media screen and (min-width: 1200px) {
    #scene-canvas.detailview {
        left: -13%;
    }
    #scene-canvas.overview {
        left: -10%;
    }
    /* overlay ui */
    #match-number, #ring-control-area {
        left: 37%;
    }
    #side-info-area, #sub-side-info-area, #tab-area-container {
        width: 25vw;
    }
    /* scroll */
    .col-7 {
        flex: 0 0 var(--filters-width-2);
        max-width: var(--filters-width-2);
    }
    .col-2 {
        flex: 0 0 var(--dropdown-width-2);
        max-width: var(--dropdown-width-2);
    }
    /* overview UI */
    .title-area {
        left: 40%;
    }
}

/* HD Screens */
@media screen and (min-width: 1800px) {
    .header-dash-line {
        display:block;
        width: 15%;
        max-width: 55px;
        height: 4px;
        background-color: white;
        transform: translate(-140%, 500%);
    }
    #side-info-area, #sub-side-info-area, #tab-area-container {
        width: 20vw;
    }
    .col-7 {
        flex: 0 0 var(--filters-width-3);
        max-width: var(--filters-width-3);
    }
    .col-2 {
        flex: 0 0 var(--dropdown-width-3);
        max-width: var(--dropdown-width-3);
    }
    .back-btn {
        transform: scale(1);
    }
}


/* VERTICAL*/
/* @media screen and (max-height: 450px) {
} */
/* Special case: very short */
@media screen and (max-height : 630px) and (min-width: 55.0em) {
    #fav-info-area {
        display: none;
    }
    #match-number {
        bottom: 25vh;
    }
    #side-info-area {
        top: 45vh;
        height: 40vh;
    }
    #short-bio {
        height: 20vh;
    }
}


