
/* pseudo mobile */
@media screen and (max-width: 880px) {
    :root {
        --ring-ctrl-padding-x: -200px;
        --ring-ctrl-y: calc(7 * (5vh + 1.25em));
        --da-btn-y: calc( (4*5vh) + (3*1.25em));
    }
    /* scroll filters */
    #scroll-filter-row {
        height: 10vh;
    }
    #scroll-filter-container {
        transform: translateY(-50%);
    }
    .col-7 {
        flex: 0 0 150%;
        max-width: 150%;
        transform: translateX(-75%)
    }
    .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
        transform: translateY(-120%);
    }
    #scroll-filter-1 {
        transform: translate(-50%, -100%);
    }
    .dropdown-btn {
        text-align: center;
        padding-left: unset;
        margin-left: unset;
    }
    /* canvas */
    #scene-canvas.detailview {
        transform: scale(0.8) translateY(-3%);
    }
    /* overview */
    .back-btn {
        transform: scale(0.7);
    }
    .title-area {
        top: 14%;
    }
    #go-to-archive-btn {
        left: 50vw;
        transform: translateX(-50%);
    }
    #sub-achivement-info-area {
        display: none;
    }
    #sub-side-info-area {
        height: 10vh;
        right: 50vw;
        top: 75vh;
        width: 100vw;
        transform: translateX(50%);
        text-align: center;
    }
}
/* Small screens, Symmetrical layout --> asymmetrical */
/* 800px */
@media screen and (min-width: 55.0em) {
    :root {
        --main-content-position-left: 31%;
        --match-num-y: 20vh;
        --explore-more-btn-y: 30vh;
        --viz-ctrl-area-x: 5%;
        --viz-ctrl-area-width: 20%;
    }
    .home-btn {
        top: 20%;
        width: 7vw;
        top: calc( var(--back-btn-y) + 5%);
        left: var(--back-btn-x);
        transform: unset;
    }
    #hm-logo {
        left: 1.5%;
        transform: none;
    }
    #scene-canvas.detailview {
        left: -18%;
    }
    #scene-canvas.overview {
        transform: scale(0.8);
        left: -10%;
        top: 5%;
    }
    #match-number {
        width: 50vw;
    }
    .title-area {
        width: 50%;
        left: 40%;
    }
    
    /* Scroll filters */
    .scroll-btn, .scroll-filter-container {
        display: block !important;
    }
    .shuffle-btn {
        display: block !important;
    }
    .dropup{
        min-width: unset;
    }

    /* Overlay UI */
    #side-info-area {
        top: 50vh;
        height: 60vh;
        transform: translateY(-50%);
    }
    #sub-side-info-area {
        top: 50vh;
        max-height: 60vh;
        transform: translateY(-50%);
    }
    #achivement-info-area, #fav-info-area {
        display:block;
    }

    .back-btn {
        transform: scale(0.8);
        display: inline-block;
    }
    /* legend */
    .legend {
        bottom: 10vh;
        left: 10vh;
        width: auto;
        text-align: left;
    }
    .legend-line {
        display: block;
        padding: unset;
    }
}

/* medium screen */
@media screen and (min-width: 1200px) {
    :root {
        --main-content-position-left: 37%;
        --side-info-width: 25vw;
    }
    #scene-canvas.detailview {
        left: -13%;
    }
    #scene-canvas.overview {
        left: -10%;
    }
    /* scroll */
    .col-7 {
        flex: 0 0 var(--filters-width-2);
        max-width: var(--filters-width-2);
    }
    .col-2 {
        flex: 0 0 var(--dropdown-width-2);
        max-width: var(--dropdown-width-2);
}

/* HD Screens */
@media screen and (min-width: 1800px) {
    :root {
        --side-info-width: 20vw;
    }
    .header-dash-line {
        display:block;
        width: 15%;
        max-width: 55px;
        height: 4px;
        background-color: white;
        transform: translate(-140%, 500%);
    }
    .col-7 {
        flex: 0 0 var(--filters-width-3);
        max-width: var(--filters-width-3);
    }
    .col-2 {
        flex: 0 0 var(--dropdown-width-3);
        max-width: var(--dropdown-width-3);
    }
    .back-btn {
        transform: scale(1);
    }
}


/* VERTICAL*/
/* @media screen and (max-height: 450px) {
} */
/* Special case: very short */
@media screen and (max-height : 630px) and (min-width: 55.0em) {
    :root {
        --match-num-y: 25vh;
    }
    #fav-info-area {
        display: none;
    }
    #side-info-area {
        top: 45vh;
        height: 40vh;
    }
    #short-bio {
        height: 20vh;
    }
}


