/* used for overview and subset view */
.title-area {
    position: fixed;
    font-family: 'Oswald';
    font-weight: bold;
    display: inline-block;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
}
.filter-title {
    position: relative;
    font-size:var(--match-num-font-size);
    color: #6c6c6c;
}
.match-title {
    position: relative;
    font-size: var(--match-num-font-size);
    color:#dfdfdf;
}
.title-area span {
    background-color: rgba(0, 0, 0, 0.6);
}

/* viz control */
#viz-control-area {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 4%;
}
#viz-header {
    font-weight: bold;
    font-size: var(--tab-font-size);
}
.viz-btn {
    width: 13vw;
    min-width: 190px;
    max-width: 300px;
    height: 5vh;
    min-height: 40px;
    max-height: 55px;
    margin-top: 1vh;
    background-color: #3B363F;
    border-style: none;
    font-weight: bold;
    font-size: var(--button-size);
    color: var(--off-white);
}
.viz-btn:hover {
    background: linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
}
.viz-btn-selected {
    background: linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
}

/* back buttons */
.back-btn{
    position: fixed;
    top: 10%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: white;
    font-family: 'Oswald';
    font-size: x-large;
    display: inline;
    vertical-align: middle;
}
.back-btn:hover {
    opacity: 0.7;
}

.back-arrow-img {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: var(--left-arrow-icon-url);
    background-size: 100% 100%;
    transform: translateY(30%);
}