.font-bold{
    font-weight:bold;
}

.hm-font-light{
    color: white;
    font-family: 'Source Sans Pro'; 
    font-style: normal;
    font-size: large;
    /* font-weight: lighter; */
}

.hm-font {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
}

.hm-font-xlarge {
    color: white;
    font-family: 'Oswald';
    font-size: x-large;
    font-style: normal;
}


.hm-font-xxlarge {
    color: white;
    font-family: 'Oswald';
    font-size: xx-large;
    font-style: normal;
}

.hm-font-large {
    color: white;
    font-family: 'Oswald';
    font-size: large;
    font-style: normal;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
} 
/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    background: rgba(100, 100, 100, 0.37);
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Go to archive popup */
.go-to-archive-hover-popup {
    opacity: 0.0;

    width: 200px;
    text-align: center;
    position: fixed;
    color: white;
    position: fixed;
    bottom: 26%;
    padding: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: large;
    background-color: rgba(100,100,100);
}

/* dash line */
.header-dash-line {
    width: 55px;
    height: 4px;
    background-color: white;
    transform: translate(-140%, 600%);
}

/* go to digital archive button */
.digital-archive-btn{
    position: fixed;
    width: 200px;
    height:50px;
    bottom: 20%;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-size: x-large;
    border-radius: 0px;
    border-style: none;
    background-color: #3B363F;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
}
.digital-archive-btn:hover {
    /* background-color: rgba(255,255,255, 0.1); */
    background: linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
}
/* dialog popup */
.digital-archive-btn:hover + div {
    opacity: 1.0;
}