/* Legend */
.legend {
    display: none;
}
.legend {
    position: fixed;
    /* bottom: calc(25*var(--vh)); */
    bottom: calc(5 * var(--vh));
    width: 100vw;
    text-align: center;
}
.legend-square {
    display: none;
}
.legend-label {
    display: inline-block;
    font-size: var(--info-text-font-size);
}
.legend-line {
    display: none;
    text-align: center;
    font-weight: bold;
    margin: 1vw;
    padding: 0.5rem 0;
    width: 20vw;
    background-color: var(--btn-bkgd-color);
}
.legend-line:hover {
    opacity: 0.6;
}
.active-legend {
    display: inline-block;
}
.legend-other-container {
    width: 100vw;
}
.legend-other {
    width: 42.5vw;
}
#legend-loading {
    width: 100vw;
    color: white;
    bottom: calc(20 * var(--vh));
    text-align: center;
    position: fixed;
    font-size: var(--info-header-font-size);
}