/* Legend */
/* TODO swtich from screen sizes to variables ?  */
.legend {
    display: none;
}

.legend {
    position: fixed;
    bottom: 30vh;
    width: 95%;
    text-align: center;
}

.legend-square {
    display: inline-block;
    width: var(--legend-square-size);
    height: var(--legend-square-size);
    transform: translateY(-25%);
}

.legend-label {
    display: inline-block;
    margin-left: 10px;
    font-size: var(--info-text-font-size);
}

.legend-line {
    display: inline-block;
    padding: 0 2%;
}

#legend-fall { background-color: orange; }
#legend-winter { background-color: blue; }
#legend-spring { background-color: green; }
#legend-summer { background-color: red; }

#legend-male { background-color: blue; }
#legend-female { background-color: purple; }
