/* Tablets */
@media screen and (min-device-width: 700px){
    :root {
        --med-font-size: calc(var(--delta) + 1rem);
    }

    /* .scroll-filter-row {
        height: 180px;
    }
    .scroll-filter-item, .scroll-filter-item-selected {
        padding-top: 2px !important;
    } */
}