/* landscape css */
#landscape-page{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg_detailView.png');
    background-size: 100% 100%;
}

#landscape-page h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* vars */
:root {
    --delta: calc(0.008 * 100vh);
    --med-font-size: calc(var(--delta) + 2rem);
    --large-font-size: calc(var(--delta) + 2rem);
    --dropdown-font-size: 45px;
    --scroll-area-height: 35%;
    --overlay-area-height: 65%;
  }
  
.hm-font {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
}

.hm-font-xlarge {
    color: white;
    font-family: 'Oswald';
    font-size: x-large;
    font-style: normal;
}

.hm-font-large {
    color: white;
    font-family: 'Oswald';
    font-size: large;
    font-style: normal;
}

#popup-continue-btn {
    font-size: large;
    color: white;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 28px;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgba(148, 26, 29, 1), rgba(46, 45, 111, 1));
    border-image-slice: 1;
}

#popup-cancel-btn {
    font-size: large;
    color: white;
    border-radius: 20%;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgba(148, 26, 29, 1), rgba(46, 45, 111, 1));
    border-image-slice: 1;
}

#popup-dialog {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* popup dialog overrides */
#popup-dialog .hm-font {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#popup-dialog .col-2 {
    display: none !important;
}

#popup-dialog .btn {
    min-width: 75% !important;
    margin: auto;
    margin-bottom: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
}

#popup-dialog .row {
    margin: auto !important;
}