/* vars */
:root {
    /* font sizes */
    --delta: calc(0.015 * 100*var(--vh));
    --med-font-size: calc(var(--delta) + 1rem);
    --large-font-size: calc(var(--delta) + 1rem);

    --dropdown-font-size: 45px;
    --match-num-font-size:  calc(var(--delta) + 2rem);
    --button-font-size:  calc(var(--delta) + 0.8rem);
    --info-text-font-size: calc(var(--delta) + 0.5rem);
    --filter-item-font-size: calc(var(--delta) + 0.6rem);

    --scroll-area-height: 30%;
    --overlay-area-height: 70%;

    --high-emphasis-opacity: 87%;
    --med-emphasis-opacity: 60%;
    --disabled-opacity: 38%;

    /* positioning */
    --canvas-top: -30%;
    --main-content-position-left: 50%;
    --filter-title-y: 13%;
    --explore-btn-y: 5%;

    --nav-bar-height: 10%;
    --content-height: 50%;
    --filter-container-height: 40%;
    
    --match-num-y: 8%;

    --ring-ctrl-area-y: 30%;
    --ring-ctrl-area-width: 200px;
    --ring-ctrl-padding-x: 8%;
    --ring-arrow-size: calc(5*var(--vh));
    --ring-arrow-size-min: 50px;
    --ring-arrow-size-max: 90px;

    --archive-btn-y: 15%;
    --btn-padding-y: calc(var(--large-font-size) / 2);
    --btn-padding-x: calc(var(--large-font-size) * 2);

    --viz-ctrl-area-y: 4%;
    --viz-ctrl-area-x: 0%;

    --back-btn-y: 10%;
    --back-btn-x: 8%;
    --help-back-btn-y: 8%;

    --legend-x: 0%;
    --legend-y: calc(30*var(--vh));
    --legend-padding-x: 5%;

    --help-icon-y: -50%;
    --help-icon-left: 5%;
    --map-y: 50%;

    /* elem sizing */
    --viz-ctrl-area-width: 100%;
    --viz-btn-width: 50vw;
    --dropdown-width: 90vw;
    
    --dropdown-arrow-size: calc(20 * var(--vh));
    --dropdown-arrow-size-min: 40px;
    --dropdown-arrow-size-max: 50px;

    --filter-height: calc(var(--vh) * 12);
    --filter-item-padding-y: calc(var(--filter-height) / 12);
    --filter-item-padding-x: calc(var(--filter-height) / 4);
    --selected-item-width: 30vw;
    --filter-item-shift: 160px; /* TODO do not use px in js code */

    --btn-height: calc(5*var(--vh));
    --btn-height-min: 40px;
    --btn-height-max: 110px;

    --legend-width: 100%;
    --legend-square-size: 20px;

    --explore-btn-width: 60vw;

    --map-cont-height: 55vh;

    /* colors */
    --off-white: #dfdfdf;
    --item-bkgd-color: #282432;
    --hover-bkgd-color: #37353B;
    --tooltip-bkgd-color: #555;
    --btn-bkgd-color: #8A72BB96;
    --learn-more-color: #8A72BB;
    --gradient-color: linear-gradient(90deg, #2E2D6F 0%, #682052 100%);
    --inactive-title-color: #FFFFFF64;

    /* image sizes */
    --back-icon-size: 48px;

    --help-icon-size: calc(4 * var(--vh));
    --help-icon-size-min: 50px;
    --help-icon-size-max: 80px;

    --nav-arrow-size: 10;
    --dropdown-arrow-size: 10;

    /* images */
    --bkgd-img-url: url('../images/bg_detailView.png');
    --down-arrow-icon-url: url('../images/white-arrow-icon-down.svg');
    --left-arrow-icon-url: url('../images/grey-arrow-icon-left.svg');
    --right-arrow-icon-url: url('../images/grey-arrow-icon-right.svg');
    --back-icon-url: url('../images/white-arrow-icon-left.svg');
    --shuffle-icon-url: url('../images/grey-shuffle-icon.svg');
    --help-icon-url: url('../images/grey-help-icon.svg');
    --close-icon-url: url('../images/white-x-icon.png');
    --region-map-url: url('../images/region-map.svg');

    /* misc */
    --legend-display: inline-block;
    --legend-align: center;
    --learn-more-align: center;
    --btn-border-weight: 1.5px;
    --btn-border-radius: 3px;
}

body {
    font-family: 'Oswald';
    color: var(--off-white);
}

.btn, button {
    border-radius: 0px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

#hm-logo {
    position: fixed;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5vw;
    background-image: url('../logos/thm-logo-grey.svg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    border-style: none;
    margin: 0;
}

#scene-root {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg_detailView.png');
    background-size: 100% 100%;
    z-index: -99;
}

#scene-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
#scene-canvas.detailview {
    position: absolute;
    top: var(--canvas-top);
}
#scene-canvas.overview {
    position: absolute;
    transform: scale(0.7) translateY(-2%);
}

/* landscape css */
#landscape-page{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg_detailView.png');
    background-size: 100% 100%;
}

#landscape-page h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hm-font {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
}

.hm-font-xlarge {
    color: white;
    font-family: 'Oswald';
    font-size: x-large;
    font-style: normal;
}

.hm-font-large {
    color: white;
    font-family: 'Oswald';
    font-size: large;
    font-style: normal;
}

#popup-continue-btn {
    font-size: large;
    color: white;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 28px;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgba(148, 26, 29, 1), rgba(46, 45, 111, 1));
    border-image-slice: 1;
}

#popup-cancel-btn {
    font-size: large;
    color: white;
    border-radius: 20%;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgba(148, 26, 29, 1), rgba(46, 45, 111, 1));
    border-image-slice: 1;
}

#popup-dialog {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* popup dialog overrides */
#popup-dialog .hm-font {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#popup-dialog .col-2 {
    display: none !important;
}

#popup-dialog .btn {
    min-width: 75% !important;
    margin: auto;
    margin-bottom: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
}

#popup-dialog .row {
    margin: auto !important;
}

.tooltip-text {
    display:none;
}