/* subset title area */
.title-area {
    position: fixed;
    font-family: 'Oswald';
    font-weight: bold;
    display: inline-block;
    left: var(--main-content-position-left);
    top: var(--filter-title-y);
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
    width: 60vw;
}
.filter-title {
    position: relative;
    font-size: var(--sub-match-num-font-size);
}
#overview-filter-title {
    color: var(--off-white);
}
#subsetview-filter-title {
    color: var(--inactive-title-color);
}
.match-title {
    position: relative;
    font-size: var(--sub-match-num-font-size);
    color: var(--off-white);
}

/* viz control */
#viz-control-area, #viz-control-area-dummy {
    position: fixed;
    text-align: center;
    width: var(--viz-ctrl-area-width);
    bottom: var(--viz-ctrl-area-y);
    right: var(--viz-ctrl-area-x);
}
#viz-header, #viz-header-dummy {
    font-weight: bold;
    font-size: var(--sub-match-num-font-size);
}
.viz-btn {
    width: var(--viz-btn-width);
    min-width: 190px;
    max-width: 600px;
    height: 5vh;
    min-height: 40px;
    max-height: 110px;
    margin-top: 1.5vh;
    background-color: var(--btn-bkgd-color);
    font-weight: bold;
    font-size: var(--button-font-size);
    color: var(--off-white);
    border-radius: 2px;
}
.viz-btn:hover, .viz-btn-selected {
    background: var(--gradient-color);
    border: var(--btn-border-weight) solid var(--off-white);
}
#viz-control-area-dummy {
    display: none;
}
#viz-control-area-dummy > div > .viz-btn {
    background: var(--gradient-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid white;
}