/* Tablets */
@media screen and (min-device-width: 700px){
    :root {
        --match-num-font-size:  calc(var(--delta) + 1rem);
        --filter-item-font-size: calc(var(--delta) + 0.6rem);
        --sub-match-num-font-size:  calc(var(--delta) + 0.9rem);

        --filter-height: calc(var(--vh) * 10);
        --filter-item-padding-y: calc(var(--filter-height) / 16);
        --filter-item-padding-x: calc(var(--filter-height) / 4);
        --selected-item-width: 20vw;

        --ring-ctrl-area-y: 35%;
        --ring-ctrl-padding-x: 24%;
        --dropdown-arrow-size-min: 30px;
        --dropdown-arrow-size-max: 40px;

        --explore-btn-width: 50vw;

        --map-cont-height: 60vh;
        --map-y: 35%;
    }
    #hm-logo {
        width: 40vw;
        height: 4vw;
    }
    .scroll-filter-body {
        transform: translateX(5vw);
    }
    #side-info-area {
        bottom: calc( (38*var(--vh)) + (2*1.25em));
    }
    #sub-hm-headshot {
        margin-top: 10%;
    }
    #sub-hm-headshot, #sub-occupation #sub-hm-headshot {
        margin-bottom: 5%;
    }
}

/* Very narrow screens, e.g. Galaxy Fold */
@media screen and (max-device-width: 300px){
    :root {
        --button-font-size:  calc(var(--delta) + 0.6rem);
        --sub-match-num-font-size:  calc(var(--delta) + 0.9rem);
    }
}