.scroll-filter-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.scroll-filter-body {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.scroll-filter-row {
    position: relative;
    height: 70px;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgba(148, 26, 29, 1), rgba(46, 45, 111, 1));
    border-image-slice: 1;
    background-color: rgba(0, 0, 0, 255);
}

.shuffle-btn {
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url('./images/shuffle.png');
    background-size: 100%, 100%;
}

.scroll-filter-item {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.scroll-filter-name {
    text-align: center;
    font-size: xx-large;
}

#wheelscene-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
}

#wheelscene-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(95, 93, 93, 0.5);
}

#match-number {
    position: fixed;
    bottom: 25%;
    left: 50%;
    font-size: 120px;
    transform: translate(-50%, 0%);
}

#explore-btn {
    position: absolute;
    right: 0%;
    font-size: x-large;
    width: 200px;
    height: 100%;
    border-radius: 0px;
    color: white;
    background: linear-gradient(90deg, #F0511F 0%, #682052 100%);
}

#visit-archive-btn {
    position: absolute;
    right: 220px;
    font-size: x-large;
    width: 200px;
    height: 100%;
    border-radius: 0px;
    color: white;
    background: linear-gradient(90deg, #F0511F 0%, #682052 100%);
}

#scroll-filter-1 {
    margin-top: 7%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#scroll-filter-2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#scroll-filter-bottom-bar {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#hm-logo {
    position: absolute;
    left: 0%;
    width: 35%;
    height: 100%;
    background-image: url('../assets/images/hmlogo.png');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}