/* define a fixed width for the entire menu */

#side-filter {
    position: fixed;
    right: 0px;
    width: 200px;
}

.filter-name {
    font-family: 'Oswald';
    font-size: 20px;
    color: #25336b;
    background-color: #25336b;
}

.cur-filter-value {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(27px);
    color: white;
    font-family: 'Oswald';
}

.filter-group {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(27px);
}


/* reset our lists to remove bullet points and padding */

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
    display: block;
    background-image: linear-gradient(45deg, #882623, #682052);
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: Oswald;
    font-weight: bold;
}


/* add hover behaviour */

.mainmenu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */

.mainmenu li:hover .submenu {
    display: block;
    max-height: 70%;
}


/*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */

.submenu a {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(27px);
}


/* hover behaviour for links inside .submenu */

.submenu a:hover {
    background-color: rgb(175, 27, 118);
}


/* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}