:root {
    --translate-elems: translateY(-90px);
}

body {
    font-family: "Source Sans Pro";
    font-size: 18px;
}

p {
    display: block;
    width: 100%;
}


/* canvas {
    width: 100%;
    height: 100%;
    z-index: -99;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
} */


/* Label sentence */

#label-sentence {
    color: white;
    font-size: 25px;
    top: 50%;
    opacity: 0.8;
}

.label-value {
    /* font-family: "Oswald"; */
    font-weight: bold;
}


/* Buttons */

button p {
    cursor: pointer;
    vertical-align: middle
}

.button {
    height: 30px;
    width: 130px;
    margin: auto;
    z-index: 100;
    position: absolute;
    display: block;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    /* background-color: #6d779c; */
    background-color: #2e2d6f;
    color: white;
    cursor: pointer;
}

#shuffle {
    /* background-color: #2e2d6f; */
    /* bottom: 10px; */
    right: 10%;
    bottom: 5px;
    /* width: 130px; */
    text-align: center;
    /* transform: translateX(-50%); */
}

#return {
    /* bottom: 10px; */
    transform: translateX(-50%);
}

#visit-archive {
    right: 15%;
    bottom: 5%;
    width: 130px;
    /* background: linear-gradient(90deg, #F0511F 0%, #682052 100%); */
    /* position: absolute;
    width: 220px;
    height: 65px;
    left: 30px;
    top: 974px; */
    text-align: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(42px);
}


/* Popup for switch to 3D nav */

#explore {
    right: 5%;
    bottom: 5%;
    width: 130px;
    /* position: absolute; */
    /* height: 65px; */
    /* left: 1619px;
    top: 974px; */
    text-align: center;
    background: linear-gradient(90deg, #941A1D 0%, #682052 100%);
}

#explore-popup {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: grey;
    margin: auto;
    right: 5%;
    bottom: 10%;
    display: none;
}

#explore:hover+#explore-popup {
    display: block;
}


/* Video */

video {
    position: relative;
    margin: auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* Span Vertical */
    /* max-width: 100%;
    min-height: 100%;
    top: 0px;
    bottom: 0px; */
    /* Span Horizontal */
    min-width: 90%;
    max-height: 90%;
    top: 50%;
    transform: translateY(-50%);
    /* left: 0px;
    right: 0px; */
    pointer-events: auto;
}

.video-container {
    position: relative;
    z-index: 99;
    top: 17%;
    margin-left: auto;
    margin-right: auto;
    /* Span Vertical */
    /* width: 650px;
    height: 300px; */
    /* Span Horizontal */
    width: 800px;
    height: 500px;
    /* position: absolute;
    width: 925px;
    height: 647.38px;
    left: 498px;
    top: 216px; */
    filter: drop-shadow(0px 67px 50px rgba(0, 0, 0, 0.25));
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(42px);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(240, 81, 31, 0.5) 0%, rgba(255, 255, 255, 0.5) 49.48%, rgba(104, 32, 82, 0.5) 100%);
    /* transform: translateY(-140px); */
    /* transform: var(--translate-elems); */
}

.video-container p {
    transform: translateY(200px);
    color: white;
}


/* UI Overlay */

#overlay-ui {
    pointer-events: auto;
    color: white;
}

.center-cont {
    z-index: 98;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    pointer-events: none;
}

.hide-show {
    left: 50%;
    bottom: 20px;
    transform: translateY(-40px);
}

#overlay-container {
    display: none;
}


/* Styling for titles of boxes*/

.box-title {
    /* text-transform: uppercase; */
    font-size: 26px;
    font-family: "Oswald";
    margin-bottom: 20px;
    margin-top: 30px;
}

.box {
    /* position: fixed; */
    /* padding: 30px; */
    /* padding-left: 50px; */
    /* background-color:  rgba(20, 20, 20, 0.5); */
    display: inline-block;
    /* transform: translateY(-140px); */
    transform: var(--translate-elems);
    text-align: left;
    overflow: hidden;
}

.box p {
    margin-left: 40px;
    /* margin-right: 10px; */
    word-wrap: break-word;
    display: inline-block;
    max-width: 80%;
}

.box span {
    word-wrap: break-word;
}

.box-box {
    margin-left: 40px;
    height: 66%;
    width: 80%;
    overflow-y: scroll;
}


/* Style for each box */

#name-box {
    position: absolute;
    width: 467px;
    height: 133px;
    left: 711px;
    top: 40px;
    font-size: 30px;
    /* transform: translateY(-140px); */
    /* transform: var(--translate-elems); */
}

#name-box p {
    margin: 5px;
    /* background: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(42px); */
}

#name-box-name {
    font-size: 40px;
}

#name-box-category {
    font-family: "Oswald";
}

#title-box {
    position: absolute;
    width: 336px;
    height: 315px;
    left: 100px;
    top: 216px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(42px);
}

#fav-box {
    position: absolute;
    width: 336px;
    height: 369px;
    left: 100px;
    top: 574px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(42px);
}

#transcript-box {
    position: absolute;
    width: 372px;
    height: 374px;
    left: 1485px;
    top: 216px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(42px);
}

#transcript {
    line-height: 1.5;
    padding-right: 10px;
}

#playlist-box {
    position: absolute;
    width: 372px;
    height: 280px;
    left: 1486px;
    top: 609px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(42px);
}

#playlist {
    /* margin: auto; */
}

#playlist p {
    margin-left: 10px;
}


/* Playlist entry style */

.playlist-entry {
    /* display: inline-block; */
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 0px;
    /* background-color: #11333333; */
    cursor: pointer;
}

.entry-text {
    width: auto;
    display: inline-block;
}

.entry-img {
    width: 80px;
}


/* typerwriter effect */

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}


/* intro container */

#intro-container {
    position: absolute;
    display: block;
    /* width: 500px; */
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    /* background-color: #11111111; */
}

#intro-container h1 {
    text-align: inherit;
}

#intro-container .button {
    left: 50%;
    transform: translate(-50%, 0);
}

.hide-from-intro {
    display: none;
}