@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.close-button {
    position: absolute;
    right: -20%;
    top: 0px;
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    width: 100px;
}

.close-button::before,
.close-button::after {
    background-color: azure;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
}

.close-button::before {
    top: 0;
    transform: rotate(45deg);
}

.close-button::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.close-button:hover {
    color: #25336b;
}

.close-button:hover::before,
.close-button:hover::after {
    height: 50px;
    transform: rotate(0deg);
}